$Eerie:       #14161a;
$Summer:      #47a3f2;
$Portage:     #8a85ec;
$Affair:      #775486;
$Byzantine:   #ba32a8;
$Hopbush:     #cc7a97;
$BrownSugar:  #ba6846;
$BigFootFeet: #f08558;
$Sunshine:    #fef911;
$BabyPowder:  #fdfdfc;
