body {
  background: #14161a; /* not working, let's see some red */
  background: -moz-linear-gradient( top
      rgba(71, 163, 242, 1) 0%,
      rgba(138, 133, 236, 1) 15%,
      rgba(119, 84, 134, 1) 35%,
      rgba(186, 50, 168, 1) 60%,
      rgba(204, 122, 151, 1) 75%,
      rgba(240, 133, 88, 1) 85%,
      rgba(254, 249, 17, 1) 99%
      );

  background: -webkit-gradient(linear,  left top,  left bottom,
      color-stop(0%, rgba(71, 163, 242, 1)),
      color-stop(15%, rgba(138, 133, 236, 1)),
      color-stop(35%, rgba(119, 84, 134, 1)),
      color-stop(60%, rgba(186, 50, 168, 1)),
      color-stop(75%, rgba(204, 122, 151, 1)),
      color-stop(85%, rgba(240, 133, 88, 1)),
      color-stop(99%, rgba(254, 249, 17, 1)));
  margin: 0;
  color: #fdfdfc;
  font-family: "Andada", serif;
  font-size:1.3rem;
  line-height: 1.8rem;
}

main {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-rows: 100vh auto 100vh;
  grid-template-columns: 1fr  minmax(20ch,40ch) 1fr;
  grid-gap: 2ch;
  grid-template-areas:
    "topl  topm  topr"
    "midl  midm  midr"
    "botl  botm  botr";

}
main div:nth-child(1) {
  grid-area: topm;
  text-align: center;
}

main div:nth-child(1) img {
  max-height: 50vh;
}

main article  {
  grid-area: midm;
  position: relative;
  shape-outside: circle(50%);
}

main div:nth-child(3) {
  display: grid;
  align-items: center;
  grid-area: botm;
  text-align: center;
  font-family: "Picture House One Regular";
  font-size: 2rem;
  border: #fdfdfc;
  padding-top: 12px;
}

main div:nth-child(3) em {
  font-size: 1.5rem;
}

main div:nth-child(3) h1 {
  font-size: 3rem;
}


@font-face {
font-family: 'Picture House One Bold';
src:  url('mbpicturehouse_onebold_macroman/MB_Picture_House_One_Bold-webfont.woff2') format('woff2'),
      url('mbpicturehouse_onebold_macroman/MB_Picture_House_One_Bold-webfont.woff') format('woff');
}

@font-face {
font-family: 'Picture House One Regular';
src:  url('mbpicturehouse_oneregular_macroman/MB_Picture_House_One_Regular-webfont.woff2') format('woff2'),
      url('mbpicturehouse_oneregular_macroman/MB_Picture_House_One_Regular-webfont.woff') format('woff');
}

h1 {
  font-family: "Picture House One Bold", Fallback, sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: .2rem;
}

h2 {
  font-family: "Picture House One Bold", Fallback, sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

#mc_embed_signup{
  font-size:1rem;
}

input {
  width: 5ch;
}
